{% extends 'forum/base.html' %}<! import  bazowego pliku>
{% block body%}

<div class="container-fluid">

    <div class="row">
        <div class="col-sm-12">
            <h3>Ogłoszenia</h3>
        </div>

            {% for post in object_list %}
            <div class="col-sm-4 col-lg-3 post">
                <div class="thumvnail">
                    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
                    <link href="https://fonts.googleapis.com/css?family=Questrial" rel="stylesheet">
                    <a href="{%url 'forum:post_detail' post.id%}">
                        <!można tu podlinkować obrazek>

                        <!img src= "{{ post.image.url }}" class="img-responsive">
                        <img src= "{{ post.image }}" class="img-responsive">
                    </a>
                     <div class="caption">
                            <h2>{{ post.title }}</h2>
                            <div class="panel-body"><h4>{{ post.text }}</h4></div>
                     </div>
                        <a href="{% url 'forum:post_detail' post.id %}" class="btn btn-primary btn-sm" role="button">
                            Zobacz więcej</a>
                </div>
            </div>
            {% endfor %}

    </div>

</div>

{% endblock%}